{% set title="Blog" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}
<main>
    
    <section class="main_menu wrapper">
        <h1 class="main_menu_header">
            Latest Blog Posts
        </h1>
        <ul class="main_menu__wrap">

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-1.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-1.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216">
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    Oat Milk — Coffee's Eco-Friendly 
                    Companion
                </h2>
                <p class="main_menu_list_date">
                    Jul 2, 2020
                </p>
            </li>

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-2.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-2.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216">  
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    How to Market Your Cafe as an Ideal Place to Work
                </h2>
                <p class="main_menu_list_date">
                    Feb 25, 2020
                </p>
            </li>

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-3.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-3.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216"> 
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    Tips for Creating an Effective Cafe Branding Strategy
                </h2>
                <p class="main_menu_list_date">
                    Feb 22, 2020
                </p>
            </li>

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-4.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-4.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216">  
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    Unlock the Power of Social Media Marketing for Your Cafe
                </h2> 
                   <p class="main_menu_list_date">
                    Jan 23, 2020
                    </p> 
            </li>

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-5.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-5.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216"> 
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    The Pros and Cons Experienced by Coffee Professionals
                </h2>
                <p class="main_menu_list_date">
                    Jan 8, 2019
                </p>
            </li>

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-6.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-6.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216">
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    Bangkok Cafe and Neighbourhood Guide
                </h2>
                <p class="main_menu_list_date">
                    Dec 8, 2018
                </p>
            </li>

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-7.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-7.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216">
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    Tel Aviv Specialty Coffee and Travel Guide
                </h2>
                <p class="main_menu_list_date">
                    Nov 16, 2018
                </p>
            </li>

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-8.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-8.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216">
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    7 Easy Ways to Increase Your Cafe’s Foot Traffic
                </h2>
                <p class="main_menu_list_date">
                    Nov 15, 2018
                </p>
            </li>

            <li class="main_menu_list">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-blog-9.webp"  type="image/webp">
                        <img loading="lazy" class="main_menu_list_image" src="../img/img-blog-9.jpg" alt="blog image" class="main_menu_list_image" width= "373" height= "216">
                    </picture>
                </noscript>
                <h2 class="main_menu_list_h2">
                    Chemex Coffee Maker — Review and Brew Guide
                </h2>
                <p class="main_menu_list_date">
                    Nov 15, 2018
                </p>
            </li>

        </ul>
        <nav class="main_menu_links">
            <p class="main_menu_links_p">&lt</p>
            <a class="main_menu_links_link"href="index.html">1</a>
            <a class="main_menu_links_link"href="blog.html">2</a>
            <a class="main_menu_links_link"href="blog2.html">3</a>
            <p class="main_menu_links_p">...</p>
            <a class="main_menu_links_link"href="#">9</a>
            <p class="main_menu_links_p">&gt</p>
        </nav> 
            
    </section>

</main>


{% include 'parts/_foot.html' %}