{% set title="Blog post" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}
<main>

    <article class="blog">
        <h1 class="blog_h1">
    
        </h1>
        <p class="blog_date">
    
        </p>
            <img src="" alt="" class="blog_pros_image">
    
        <p class="blog_pros_paragraph1">
    
        </p>
        <p class="blog_pros_paragraph2">
    
        </p>
        </article>
    
        <article class="blog1">
            <h2 class="blog1_h2"></h2>
            <figure class="blog1_figure">
                <img src="" alt="" class="blog1_figure_image">
                <figcaption class="blog1_figure_figcaption"></figcaption>
            </figure>
            <p class="blog1_paragraph3"></p>
        
            <p class="blog1_thougths"></p>
    
            <ul class="blog1_lists">
                <li class="blog1_lists_list">
                    <h3 class="blog1_lists_list_h3"></h3>
                    <p class="blog1_lists_list_text"></p>
                    <p class="blog1_lists_list_text"></p>
                    <p class="blog1_lists_list_text"></p>
                </li>
                <li class="blog1_lists_list">
                    <h3 class="blog1_lists_list_h3"></h3>
                    <p class="blog1_lists_list_text"></p>
                    <p class="blog1_lists_list_text"></p>
                    <p class="blog1_lists_list_text"></p>
                    
                </li>
    
            </ul>
        </article>
       
    <aricle class="blog2">
            <h2 class="blog2_h2"></h2>
            <figure class="blog2_figure">
             <img src="" alt="" class="blog2_figure_image">
            <figcaption class="blog1_figure_figcaption"></figcaption>
    <P class="blog2_paragraph1"></P>
    <p class="blog2_paragraph3"></p>
    
    <ul class="blog2_lists">
        <li class="blog2_lists_list">
            <h3 class="blog2_lists_list_h3"></h3>
            <p class="blog2_lists_list_text"></p>
            <p class="blog2_lists_list_text"></p>
            <p class="blog2_lists_list_text"></p>
        </li>
        <li class="blog2_lists_list">
            <h3 class="blog2_lists_list_h3"></h3>
            <p class="blog2_lists_list_text"></p>
            <p class="blog2_lists_list_text"></p>
            <p class="blog2_lists_list_text"></p>
            <p class="blog2_lists_list_text"></p>
            
            
        </li>
    
    </ul>
    <p class="blog2_text"></p>
    
    </aricle>
        
    
</main>


    


{% include 'parts/_foot.html' %}