{% set title="Coffe Planet" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<aside class="banner">
    <div class="wrapper">
        <p class="banner__text">
            More then simple coffee
        </p>
        <nav class="banner__navigation">
            <button data-btn="bookBtn" class="banner__btn banner__btn_colored">
                Book a table
            </button>
            <button class="banner__btn banner__btn_trans">
                Watch video
            </button>
        </nav>
    </div>
</aside>
<main class="wrapper">
    <h1 class="sr-only">
        Website for the best coffee - Coffee Planet
    </h1>
    <section id="menu" class="menu">
        <h2 class="animate animate__fadeInUp menu__h main-heading">
            Make a choice
        </h2>
        <p class="animate animate__fadeInUp menu__text">
            We promise that you'll be delighted with a cozy atmosphere and an excellent selection of drinks and snacks
        </p>
        <ul class="animate animate__fadeInUp menu__tabs tabs">
            <li class="tabs__item" data-tab="#coffee">
                <a href="#coffe" class="tabs__link" >coffee</a>
            </li>
            <li class="tabs__item" data-tab="#sweets">
                <a href="#sweet" class="tabs__link" >sweets</a>
            </li>
            <li class="tabs__item" data-tab="#snacks">
                <a href="#snack" class="tabs__link" >snacks</a>
            </li>
        </ul>
        <ul class="animate animate__fadeInUp menu__content tabs-content">
            <li id="coffee" class="animate__fadeIn tabs-content__section active">

                <ul class="tabs-content__wrap">
                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-coffee1.webp" type="image/webp">
                                <img loading="lazy" src="img/img-coffee1.png" alt="Cappuccino photo" class="product__pic" width="275" height="316">
                            </picture>
                         </noscript>
                        <h3 class="product__name">Blonde Cappuccino</h3>
                        <p class="product__price">$5</p>
                    </li>

                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-coffee2.webp" type="image/webp">
                                <img loading="lazy" src="img/img-coffee2.png" alt="Latte photo" class="product__pic" width="275" height="316">
                            </picture>
                        </noscript>
                        <h3 class="product__name">Coconutmilk  Latte</h3>
                        <p class="product__price">$3</p>
                    </li>

                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-coffee3.webp"  type="image/webp">
                                <img loading="lazy" src="img/img-coffee3.png" alt="Chocolate Mocha photo" class="product__pic" width="275" height="316">
                            </picture>
                        </noscript>
                        <h3 class="product__name">Dark Chocolate Mocha</h3>
                        <p class="product__price">$4</p>
                    </li>

                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-coffee4.webp"  type="image/webp">
                                <img loading="lazy" src="img/img-coffee4.png" alt="Honey Latte photo" class="product__pic" width="275" height="316">
                            </picture>
                        </noscript>
                        <h3 class="product__name">Oatmilk Honey Latte</h3>
                        <p class="product__price">$3</p>
                    </li>
                </ul>
            </li>

            <li id="sweets"class="animate__fadeIn tabs-content__section">
                <ul class="tabs-content__wrap">
                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-sweets1.webp" type="image/webp">
                                <img loading="lazy" src="img/img-sweets1.png" alt="product" class="product__pic" width="275" height="316">
                            </picture>
                        </noscript>
                        <h3 class="product__name">sweets</h3>
                        <p class="product__price">$5</p>
                    </li>

                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-sweets2.webp" type="image/webp">
                                <img loading="lazy" src="img/img-sweets2.png" alt="product" class="product__pic" width="275" height="316">   
                            </picture>
                        </noscript>
                        <h3 class="product__name">sweets</h3>
                        <p class="product__price">$3</p>
                    </li>

                    <li class="product">
                         <picture>
                             <noscript class="loading-lazy">
                                <source srcset="img/webp/img-sweets3.webp" type="image/webp">
                                <img loading="lazy" src="img/img-sweets3.png" alt="product" class="product__pic" width="275" height="316">    
                            </picture>
                        </noscript>
                        <h3 class="product__name">sweets</h3>
                        <p class="product__price">$4</p>
                    </li>

                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-sweets4.webp" type="image/webp">
                                <img loading="lazy" src="img/img-sweets4.png" alt="product" class="product__pic" width="275" height="316"> 
                            </picture>
                        </noscript>
                        <h3 class="product__name">sweets</h3>
                        <p class="product__price">$3</p>
                    </li>

                </ul>
            </li>

            <li id="snacks"class="animate__fadeIn tabs-content__section">
                <ul class="tabs-content__wrap">
                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-snacks1.webp" type="image/webp">
                                <img loading="lazy" src="img/img-snacks1.png" alt="product" class="product__pic" width="275" height="316">
                            </picture>
                        </noscript>
                        <h3 class="product__name">snacks</h3>
                        <p class="product__price">$5</p>
                    </li>

                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-snacks2.webp" type="image/webp">
                                <img loading="lazy" src="img/img-snacks2.png" alt="product" class="product__pic" width="275" height="316">
                            </picture>
                        </noscript>
                        <h3 class="product__name">snacks</h3>
                        <p class="product__price">$3</p>
                    </li>

                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-snacks3.webp" type="image/webp">
                                <img loading="lazy" src="img/img-snacks3.png" alt="product" class="product__pic" width="275" height="316">
                            </picture>
                        </noscript>
                        <h3 class="product__name">snacks</h3>
                        <p class="product__price">$4</p>
                    </li>

                    <li class="product">
                        <noscript class="loading-lazy">
                            <picture>
                                <source srcset="img/webp/img-snacks4.webp" type="image/webp">
                                <img loading="lazy"src="img/img-snacks4.png" alt="product" class="product__pic" width="275" height="316">
                            </picture>
                        </noscript>
                        <h3 class="product__name">snacks</h3>
                        <p class="product__price">$3</p>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <article id="about" class="about">
        <aside aria-label="Slider with photos"class="animate animate__fadeInUp about__slider article-slider">
           
            <figure class="about__figure article-slider__container ">
                <div class="article-slider__slide">
                    <noscript class="loading-lazy">
                        <picture>
                            <source srcset="img/webp/img-slider-1.webp" type="image/webp">
                            <img loading="lazy" src="img/img-slider-1.png" alt="Photo of cafe" class="artical-slider__img" width= "570" height= "378">   
                        </picture>
                    </noscript>
                </div>

                <div class="article-slider__slide">
                    <noscript class="loading-lazy">
                        <picture>
                            <source srcset="img/webp/img-slider-2.webp" type="image/webp">
                            <img loading="lazy" src="img/img-slider-2.png" alt="Photo of cafe" class="artical-slider__img" width= "570" height= "378">
                        </picture>
                    </noscript>
                </div>
            </figure>
            
            <p class="article-slider__btns">
                <button aria-label="Previous slide"class="article-slider__btn article-slider__btn_prev">
                    {% include './parts/svgo/ico-arrow-left.svg' %}
                </button>
                <button aria-label="Next slide"class="article-slider__btn article-slider__btn_next">
                    {% include './parts/svgo/ico-arrow-right.svg' %}
                </button>
            </p>  
        </aside>
        <h2 class="animate animate__fadeInUp main-heading about__h">
            Welcome to CoffeePlanet
        </h2>
        <p class="animate animate__fadeInUp about__text">
            The CoffeePlanet is open in Westchase! We are excited to introduce our Coffee Shop. If you crave great coffee, you’ll love knowing that we provide a real alternative to chains with handcrafted coffee and espresso drinks, a full tea bar, and real food options. 
        </p>
        <p class="animate animate__fadeInUp about__text about__text_two">
            “We grind for you”… our local baristas know that great espresso takes more than pushing a button. We work hard to deliver great taste while also providing knowledgeable service, perfect if you just want to try something new.
        </p>
        <p class="animate animate__fadeInUp about__text about__text_three">
            Our Cafe delivers way beyond the traditional coffee shop favorites (although we think our homemade pastries are pretty good). We have traditional breakfast choices, including eggs and pancakes, and plenty of healthy options (including gluten free, vegetarian, and vegan). Our lunch offerings include a wide variety of salads,  sandwiches and flatbreads.   And as for the late nighters… we know you’ll appreciate having a spot for your dessert fix as well as a spiked coffee.
        </p>
        <button data-btn="bookBtn"class="animate animate__fadeInUp about__btn">
            Book a table in our cozy coffee shop    
        </button>
    </article>
    <section id="features"class="features ">
        <h2 class="animate animate__fadeInUp features features_h">
            Our features
        </h2>
        <p class="animate animate__fadeInUp features features_text">
            Come to make sure The CoffeePlanet at Westchase can actually deliver what we promise — a great coffee shop experience.
        </p>

        <ul class="animate animate__fadeInUp features features__wrap">
            <li class="feature">
                <img src="img/icons/ico-features-1.svg" alt="picture coffee and tea">
                <h3>Coffee and tea</h3>
            </li>

            <div class="polosa"> 
            </div>

            <li class="feature">
                <img src="img/icons/ico-features-2.svg" alt="picture tasty sweets">
                <h3>Tasty sweets</h3>
            </li>

            <div class="polosa"> 
            </div>

            <li class="feature">
                <img src="img/icons/ico-features-3.svg" alt="picture free wifi">
                <h3>Free WiFi</h3>
            </li>

            <div class="polosa">
            </div>

            <li class="feature">
                <img src="img/icons/ico-features-4.svg" alt="picture comfortable seats">
                <h3>Comfortable seats</h3>
            </li>
        </ul>

    </section>
    <article class="visitors">
        <h2 class="animate animate__fadeInUp features features__wrap visitors_head">
            Our happy visitors say:
        </h2>
        <ul class="animate animate__fadeInUp features features__wrap visitors visitor__lists__wrap">
            <li class="visitor__lists__list 1">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-feedback-1.webp" type="image/webp">
                        <img loading="lazy" class="visitor__lists__list__photo" src="img/img-feedback-1.jpg" alt="photo Dennis Simpson">
                    </picture>
                </noscript>
                
                <h3 class="visitor__lists__list__he">
                    Dennis Simpson
                </h3>
                <p class="visitor__lists__list__text">
                    Lorem ipsum dolor sit amet, conse tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                </p>
                <p class="visitor__lists__list__date">
                    30.04.2019
                </p>
            </li>

            <li class="visitor__lists__list 2">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-feedback-2.webp" type="image/webp">
                        <img loading="lazy"class="visitor__lists__list__photo" src="img/img-feedback-2.jpg" alt="photo Andrew Smith">
                    </picture>
                </noscript>
                <h3 class="visitor__lists__list__he">
                    Andrew Smith
                </h3>
                <p class="visitor__lists__list__text">
                    Lorem ipsum dolor sit amet, conse tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                </p>
                <p class="visitor__lists__list__date">
                    24.08.2018
                </p>
            </li>

            <li class="visitor__lists__list 3">
                <noscript class="loading-lazy">
                    <picture>
                        <source srcset="img/webp/img-feedback-3.webp" type="image/webp">
                        <img loading="lazy" class="visitor__lists__list__photo" src="img/img-feedback-3.jpg" alt="photo Georg Cuper">
                    </picture>
                </noscript>
                
                <h3 class="visitor__lists__list__he">
                    George Cuper
                </h3>
                <p class="visitor__lists__list__text">
                    Lorem ipsum dolor sit amet, conse tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                </p>
                <p class="visitor__lists__list__date">
                    12.05.2018
                </p>
            </li>
        </ul>
            

    </article>   
</main>

{% include 'parts/_foot.html' %}