.main_menu{
    &_header{
        font-size: 48px;
        line-height: 1.2;
        padding-top: 178px;
        padding-bottom: 48px;
        text-align: center;
        
    }
    &__wrap{
        .row-flex();
        .xs-block({
			justify-content: center;
		})
        
    }

    &_list{
            .col();
            .size(4);
	        .size-md(6);
	        .size-sm(6);
	        .size-xs(10);
            
           
         &_image{
                padding-bottom: 20px;
            } 
              

         &_h2{
            font-size: 18px;
            line-height: 1.3;
            padding-bottom: 12px;
        }
        &_date{
            font-size: 13px;
            line-height: 1.2;
            color: #777;
            padding-bottom: 48px;
            
        }
    }
    &_links{
        display:flex;
        justify-content: center;
        font-size: 18px;
        line-height: 22px;
        
        
        &_p{
            color: #777;
            margin-right: 12px;
            margin-left: 12px;

        }
        &_link{
            &:hover{
                    
                transform: rotateY(360deg);
                transition: 2s; 
                color: @colorGreenHover;
            }
            
            color: #777;
            & + &{
                margin-left: 20px;
            }

        }
    }

}

  
.blog{
          padding-top: 117px;
    &_h1{
        
        font-size: 48px;
        line-height: 1.2; 
        margin-bottom: 8px; 
    }
    &_date{
        font-size: 13px;
        line-height: 1.2;
        color: #777777;
        margin-bottom: 20px;
    }
    &_image{
        margin-bottom: 52px;
    }
    &_paragraph1{
        .text();
        margin-bottom: 24px;
    }
    &_paragraph2{
        .text();
        margin-bottom: 112px;
    }
}
.blog1{

    
    &_h2{
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 24px;
        
    }
    &_figure{
        margin: 0;
        
        &_image{
            width: 100%;
            margin-bottom: 6px;
        }
        &_figcaption{
            font-size: 13px;
            line-height: 1.2;
            color: #777;
            margin-bottom: 32px;
        }
    }
    &_paragraph3{
        .text();
        margin-bottom: 24px;
    }
    &_paragraph4{
        .text();
        margin-bottom: 46px;

    }
    &_lists{
        width: 100%;
        display:flex;
        margin-bottom: 142px;

            
        &_list{
            border: 1px solid #eee;
            
           
            
            &.border{
                border-left: none;
            }
        
        &_h3{
            border-bottom: 1px solid #eee;
            padding-top: 14px;
            padding-bottom: 8px;
            font-size: 18px;
            line-height: 1.3;
            padding-left: 38px;

        }
        &_text{
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 14px;
            line-height: 1.5;
            padding-right: 36px;
            padding-left: 36px;
            border-bottom: 1px solid #eee;

        &.not{
            border-bottom: none;
        }
              
        }
        
        }
        
    }
    
}
.blog2{
    
    &_h2{
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 24px;
    }
    &_figu{
        margin: 0;
        &_image{
            width: 100%;
            margin-bottom: 6px;
        }
        &_figcaption{
            color: #777;
            font-size: 13px;
            line-height: 1.3;
            margin-bottom: 32px;
        
        }
    }
    &_paragraph1{
        .text();
        margin-bottom: 24px;
    }
    &_paragraph2{
        .text();
        margin-bottom: 52px;

    }

    &_h3{
        font-weight: @fontSBold;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 24px;   
    }

    &_lists{
        
        &_list{
            ::before{
                content:'';
                display: block;
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #000;
                margin-top: 8px;
                margin-left: -20px;  
            }

            
            
           
            &_h3{
                font-weight: @fontSBold;
                font-size: 18px;
                line-height: 1.2;
                margin-bottom: 24px;

            }
            &_text{
                
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 24px;
                padding-left: 54px;
               
                &.lost{
                    margin-bottom: 52px;
                }
                &.end{
                    margin-bottom: 32px;
                }
                
            }
           
        }
    }
    &_last{
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 114px;
        span{
            
            font-weight: 800;
            font-size: 16px;
            line-height: 1.7;
        }
    }
}
