
.form{
   
    &-block{
        display: flex;
        justify-content: space-between;
        .media-max(926px, {
            display: flex;
            flex-direction: column;

        });
        
        &-map{
            margin-top: 56px;
            width: 767px;
            height: 461px;
            margin-bottom: 50px;
            .media-max(926px, {
                width: 100%;
            });
        }
        &-lists{

             &-head{
                margin-top: 128px;
                font-size: 48px;
                line-height: 1.2;
                padding-bottom: 58px;
                .media-max(926px, {
                    order: -1;
                });
            
                
             }
             
             &-listt{
                display: flex;
                align-items:baseline;
                
                &:last-child{
                    padding-left: 13px;
                    padding-bottom: 18px;
                }

             }

           
             &-link{
                margin-top: 45px;
                margin-right: 10px;
                & a{
                    color:#000;
                    &:hover{
                        
                        color: @colorGreenHover;
                        transition: 0.3s; 
                    }

                }
                }
                
                
                
                &-list{
                    display: flex;
                    align-items:baseline;
                    color:#000;
                &:hover{
                    color: @colorGreenHover;
                    transition: 0.3s;
                }

               & img{
                padding-right: 13px;
               }

               & p{
                font-size: 16px;
                line-height: 1.25;
                padding-bottom: 18px;
               }

            }
        
        }
    }
     &-copiright{
        text-align: center;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 1.2px;
        color: @colorTGreySections;
    }
}

.contacts__socials{
    display: flex;
    
}

//MODAL

.modal-overlay{
    z-index: 5;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    &__close{
        .btn-reset();
            padding: 0;
            background-color: transparent;
            position: absolute;
            top: 3%;
            right: 9.7%;
            @size: 16px;
            width: @size;
            height: @size;
        &:focus{
            box-shadow: none;
        }
        &::before,
        &::after{
            content:'';
            display: block;
            position: absolute;
            border-bottom: 2px solid #fff;
            top: 50%;
            margin-top: -1px;
            width: 100%;
        }
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
             }
        
    }
    &.active{
        display: block;
    }

}
.modal{
    
   display: none;
    width: 97%;
    position: absolute;
    max-width: 964px;
    background-color: #fff;
    border-radius: 4px;
    min-height: 50%;
    max-height: 70%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.active{
        display: block;
    }
}
.modal-form{
    text-align: center;
    &__h{
        padding-top: 90px;
        margin-bottom: 19px;
        font-size: 48px;
        line-height: 1.2;
    }
    &__t{
        max-width: 237px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.5;
        color:  @colorTGreySections;
        margin-bottom: 37px;
    }
    &__f{
        & label{
            font-size: 14px;
            line-height: 1.5;
            color: @colorTGreySections;
            display: block;
            text-align: start;
            margin-left: 319px;
            

        }
        & input{
            width: 374px;
            padding-left: 10px;
            padding-right: 10px;
            outline: none;
            border: none;
            border-bottom: 1px solid @colorTGreySections;
        }
        .name{
            margin-bottom: 20px;
        }
        .phone{
            margin-bottom: 52px;
        }
        .form-button{
            .btn-reset();
            margin-bottom: 90px;
            width:214px;
            height: 56px;
            border-radius: 50px;
            background-color: @colorMain;
            color: #fff;
            &:hover{
                background-color:@colorGreenHover;
            }

        }
        
    }
}
.modal-video{
 &.vid{
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

    }
}
.modal-alert{
    &__ok{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 135px;
        margin-bottom: 36px;   
    }
    & h2{
        text-align: center;
        font-weight: 400;
        font-size: 48px;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    & p{
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
        color: @colorTGreySections;
        margin: 0;
        padding: 0;
        margin-bottom: 217px;
    }
} 

.preloader{
    display:none;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation-name: allObjects;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: 0;
        z-index: 2;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        animation-duration: 1s;

    }
    &::before{
        left: 0;
        animation-name: wallLeft;
    }
    &::after{
        right: 0;
        animation-name: wallRight;
    }
    &__logo{
        display: block;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        margin-top: 60px;
        margin-left: -12px;
        max-width: 250px;
        transform: translate(-50%, -50%);
        z-index: 4;
        animation: logo 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        min-width: 300px;
        height: auto;
        z-index: 3;
    }
    .bg{
        fill: none;
    }
    .cup{
        fill: none;
        stroke: #000;
        stroke-width: 2;
        stroke-dashoffset: 671.36;
        stroke-dasharray: 671.36;
        animation-name: draw;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    .liquid{
        fill: #351f02;
        stroke: none;
        transform: translateY(100%);
        animation-name: fillCoffee;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;

    }
    .steam{
        fill: none;
        stroke: #000;
        stroke-width: 2;
        stroke-dashoffset: 192.47;
        stroke-dasharray: 192.47;
        animation-name: draw;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;

    }
    .sleeve{
        stroke: #000;
        stroke-width: 1;
        fill: @colorMain;
        stroke-dashoffset: 453.58;
        stroke-dasharray: 453.58;
        animation-name: draw, fillGreen;
        animation-duration: 1s, 1s;
        animation-fill-mode: forwards;
    }
    .lid{
        stroke: #000;
        stroke-width: 2;
        fill: @colorMain;
        stroke-dashoffset: 431.62;
        stroke-dasharray: 431.62;
        animation-name: draw, fillGreen;
        animation-duration: 1s, 1s;
        animation-fill-mode: forwards;
    }

    @keyframes draw{
        to{
            stroke-dashoffset: 0;
        }
    }

    @keyframes fillGreen{
        from{
            fill:#fff
        }
        to{
            fill: @colorMain;
        }
    }

    @keyframes fillCoffee{
        to{
            transform: translateY(5%);
        }
    }

    @keyframes logo{
        from{
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
        }
        to{
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    @keyframes wallLeft{
        from{
            opacity: 1;
            left: 0;
        }
        to{
            opacity: 0;
            transform: translateX(-100%);
        }
    }

    @keyframes wallRight{
        from{
            opacity: 1;
            right: 0;
        }
        to{
            opacity: 0;
            transform: translateX(100%);
        }
    }

    @keyframes allObjects{
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
            height: 0;
        }
    }

}