
.form{
   
    &-block{
        display: flex;
        justify-content: space-between;
        .media-max(926px, {
            display: flex;
            flex-direction: column;

        });
        
        &-map{
            margin-top: 56px;
            width: 767px;
            height: 461px;
            margin-bottom: 50px;
            .media-max(926px, {
                width: 100%;
            });
        }
        &-lists{

             &-head{
                margin-top: 128px;
                font-size: 48px;
                line-height: 1.2;
                padding-bottom: 58px;
                .media-max(926px, {
                    order: -1;
                });
                
             }

             & a{
                
             &:focus{
                box-shadow: none;
            }
             }
             &-link{
                fill: #000;
                margin-top: 45px;
                margin-right: 11px;
        
                &:hover{
                    
                    transform: rotateY(360deg);
                    transition: 2s; 
                    fill: @colorMain;
                    
                    
        
            
    
                } 
                
             }

            &-list{
                display: flex;
                align-items: baseline;

               & img{
                padding-right: 13px;
               }

               & p{
                font-size: 16px;
                line-height: 1.25;
                padding-bottom: 18px;
               }

            }
        
        }
    }
     &-copiright{
        text-align: center;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 1.2px;
        color: @colorTGreySections;
    }
}










.modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    &__close{
        .btn-reset();
            padding: 0;
            background-color: transparent;
            position: absolute;
            top: 3%;
            right: 9.7%;
            @size: 16px;
            width: @size;
            height: @size;
        &:focus{
            box-shadow: none;
        }
        &::before,
        &::after{
            content:'';
            display: block;
            position: absolute;
            border-bottom: 2px solid #fff;
            top: 50%;
            margin-top: -1px;
            width: 100%;
        }
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
             }
        
    }
    &.active{
        display: block;
    }

}
.modal{
   display: none;
    width: 97%;
    position: absolute;
    max-width: 964px;
    background-color: #fff;
    border-radius: 4px;
    min-height: 50%;
    max-height: 70%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.active{
        display: block;
    }
}
.modal-form{
    text-align: center;
    &__h{
        padding-top: 90px;
        margin-bottom: 19px;
        font-size: 48px;
        line-height: 1.2;
    }
    &__t{
        max-width: 237px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.5;
        color:  @colorTGreySections;
        margin-bottom: 37px;
    }
    &__f{
        & label{
            font-size: 14px;
            line-height: 1.5;
            color: @colorTGreySections;
            display: block;
            text-align: start;
            margin-left: 319px;
            

        }
        & input{
            width: 374px;
            padding-left: 10px;
            padding-right: 10px;
            outline: none;
            border: none;
            border-bottom: 1px solid @colorTGreySections;
        }
        .name{
            margin-bottom: 20px;
        }
        .phone{
            margin-bottom: 52px;
        }
        .form-button{
            .btn-reset();
            margin-bottom: 90px;
            width:214px;
            height: 56px;
            border-radius: 50px;
            background-color: @colorMain;
            color: #fff;
            &:hover{
                background-color:@colorGreenHover;
            }

        }
        
    }
}
.modal-video{
 &.vid{
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  
 
  
  
    }
}
.modal-alert{
    &__ok{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 135px;
        margin-bottom: 36px;   
    }
    & h2{
        text-align: center;
        font-weight: 400;
        font-size: 48px;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    & p{
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
        color: @colorTGreySections;
        margin: 0;
        padding: 0;
        margin-bottom: 217px;
    }
} 
    

