


.main-header{
    padding-top: 45px;
    width: 100%;
    position: absolute; 

    &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   

    }
    

}
&:focus{
    outline-offset: solid 1px @colorMain;
    box-shadow: 2px 2px 5px @colorGreenHover;
    border-radius: 1rem;
}
.main-navigation{
    display: flex;
    align-items: baseline;
    

    &__links{
        display: flex;
        align-items: baseline;
        &_tels{
            margin-left: 56px;
        }
    }

    &__item{
         
        & + &{
            margin-left: 20px;

        }  
    }
    &_button{
        display: none;
       
  
        .btn-reset();
        
        position: absolute;
        right: 58px;
        top: 46px;
       
       
        &_slice{
            width: 20px;
            height: 2px;
            background-color: #777;
            margin-top: 4px;
            margin-bottom: 4px;
            
          
        }
    
}

    &__link{
        
        color: #000;
        font-weight: @fontNormal;
        font-size: 14px;
        &:hover{
            border-bottom: 2px solid @colorGreenHover;
            color: @colorMain;
            transition: 0.3s;
            
        }

    }

}
@media screen and ( max-width: 1000px ){
    .main-navigation{
        display: none;
    &_slice{
        display: block;
    }
    }    
    
    
}