


.main-header{
    padding-top: 45px;
    width: 100%;
    position: absolute; 

    &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   

    }
    
    // .but{
    //     display: none;
    // }
}

&:focus{
    outline-offset: solid 1px @colorMain;
    box-shadow: 2px 2px 5px @colorGreenHover;
    border-radius: 1rem;
}
.main-navigation{
    display: flex;
    align-items: baseline;
    

    &__links{
        display: flex;
        align-items: baseline;
        .media-max(840px, {
            display: none;
        });
        &_tels{
            margin-left: 56px;
        }
    }


    &__item{
         
        & + &{
            margin-left: 20px;

        }  
    }
   
    &__link{
        
        color: #000;
        font-weight: @fontNormal;
        font-size: 14px;
        &:hover{
            border-bottom: 2px solid @colorGreenHover;
            color: @colorMain;
            transition: 0.3s;
            
        }

    }
    

    
}
.btn-mobile{
    display:none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    @size: 20px;
    @borderWidth: 2px;
    width: @size;
    height: @size;
    border:none;
    border-top: @borderWidth solid #000;
    position: relative;
    transition:@transT;
        &::before,
        &::after{
        content:'';
        display:block;
        width: 100%;
        height: @borderWidth;
        background-color: #000;
        position: absolute;
        left: 0;
        transition:@transT;
        }
        &::before{
            top: 50%;
            transform:translateY(-50%);
            margin-top: -1px;
        }
        &::after{
            bottom: 0;

        }
        &:hover{
        border-top-color:@colorMain;
        transition:@transT;
        }
        &:hover::before,
        &:hover::after{
        background-color: @colorMain;
        
       
        }
      

        &.is_open{
            border-top-color: transparent;
           
            &::after{
                bottom: 50%;
                transform: translateY(40%);
                transform:translateY(-40%) rotate(-45deg);
                


            }
            &::before{
                transform:translateY(-70%) rotate(45deg);

            }

        }
        .media-max(840px, {
            display: inline-block;
            vertical-align: middle;

        });
        

    
}

