@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import '_header.less';
@import '_foot.less';

/* Set defaults */
.reset();

html,
body{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	max-width: 1920px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.5;
}



::-webkit-scrollbar{
	width: 10px;
	height: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @colorMain;
}

.ul-reset{
	list-style: none;
}

.input{
	font: inherit;
	appearance: none;
	opacity: 1;
	transition: @transT;
	&:focus{
		outline: none;
		box-shadow: 1px 1px 30px 1px rgba(60,86,166, 0.3);
	}
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

/* Atomic */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

.d-f{
	display: flex;
}

.ttu{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

.ov-h{
	overflow: hidden;
}

.ov-s{
	overflow: scroll;
}

.black{
	color: #000;
}

/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0  0);
	overflow: hidden;
}
.main-heading{
		font-size: 48px;
		line-height: 59px;
		margin: 0;
		text-align: center;
		line-height: 1.1;
}


/* General */

.banner{
	padding-top: 167px;
	padding-bottom: 269px;
	background-image: url(../img/First\ screen.jpg);
	background-size: cover;
	background-position: center;
	&__text{
		font-size: 90px;
		line-height: 110px;
		margin: 0;
		margin-bottom: 56px;
		.size(7);

	}

	&__btn{

		&_colored{
			border: 2px solid transparent;
			color: #fff;
			padding-left: 55px;
			padding-right: 55px;
			height: 56px;
			vertical-align: bottom;
			background: @colorMain;
			border-radius: 50px;
			font-weight: @fontSBold;
			font-size: 16px;
			line-height: 20px;
			transition: @transT;
			&:hover{
			background-color: @colorGreenHover;
			}

		}
		&_trans{
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;			
			padding-left: 55px;
			padding-right: 55px;
			height: 56px;
			margin-left: 18px;
			vertical-align: bottom;
			border: 2px solid @colorGreenHover;
			border-radius: 50px;
			transition: @transT;
			&:hover{
				background-color: @colorGreenHover;
				color: #fff;
				}
			

		}
	}
}

.menu{	
	padding-top: 170px;
	padding-bottom: 84px;
	&:focus{
		outline: none;
		box-shadow: 0px 7px 21px rgba(55, 125, 60, 0.3);
		border-radius: 50%;
	}
	&__h{
		padding-bottom: 44px;
	}
	&__text{
		padding-bottom: 52px;
		width: 50%;
		text-align: center;
		margin: 0 auto;
		font-weight: @fontNormal;
		font-size: 14px;
		line-height: 1.5;
		color: @colorTGreySections;
	}
	&__tabs{
		margin-bottom: 40px;
		}
	}

.tabs{
	display: flex;
	justify-content: center;
	padding: 0;
	
	&__item{
		padding-left: @offset / 2;
		padding-right: @offset / 2;
		& + &{
		margin-left: 70px;
		}
		&.active,
		&:hover{
			border-bottom: 2px solid @colorGreenHover;
			transition: 0.3s;
			a{
				color: @colorMain;
			}
		}
		}

	&__link{
		font-weight: @fontSBold;
		line-height: 1.5;
		color: #000;
	}
		
	
}
.tabs-content{
	&__section{
		display: none;
		&.active{
			display: block;
		}
	}
	&__wrap{
		.row-flex();
		.xs-block({
			justify-content: center;
		})
	}
}
.product{
	.col();
	.size(3);
	.size-md(4);
	.size-sm(6);
	.size-xs(10);
	margin-bottom: 20px;
	text-align: center;
	
		&__pic{
			margin-bottom: 24px;
			width: 100%;
		}

		&__name{
			margin: 0;
			margin-bottom: 8px;
		}

		&__price{
			color: @colorMain;
			font-weight: @fontSBold ;
		}
}
.about{
	padding-top: 85px;
	padding-bottom: 112px;
	&__btn{
		.btn-reset();
		border-bottom: 2px solid @colorMain;
		color: @colorMain;
		margin: 0;
		padding: 0;
		
		&:focus{
			outline-offset: solid 1px @colorGreenHover;
			box-shadow: 2px 2px 5px @colorGreenHover;
			border-radius: 1rem;
			transition: 0.3s;
			color: @colorGreenHover;
		}
		&:hover{
			color: @colorGreenHover;
			border-bottom: 2px solid @colorGreenHover;
			transition: 0.3s;
		}

	}

	&__slider{
		width: 50%;
		padding-right: @offset;
		float: left;
		
	}
	&__figure{
		margin: 0;
		padding: 0;
		margin-bottom: 16px;
	}
	&__h{
		text-align: left;
		margin-bottom: 34px;
	}
	&__text{
		margin-bottom: 24px;
		font-size: 14px;
		font-weight: @fontNormal;
		line-height: 1.5;
	}
	&__text_two{
		margin-bottom: 90px;
	}
	&__text-three{
	
		margin-bottom: 20px;
	}
}
.article-slider{
// временно //
	&__slide{
		display: none;
		&:first-child{
			display: block;
		}

	}
	&__img{
		vertical-align: bottom;
	}
	&__btns{
		margin: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 8px;
	}
	&__btn{
		.btn-reset();
		width: 25px;
		padding: 0;
	
	
		
		&:focus{
			
		transform:scale(1.2);
		transition: 0.5s;
		}
		&:hover{
			border-radius: 50%;
			background-color: @colorMain;
			background: hsl(99 50% 95%);	
		}
		
		path{
			fill: @colorMain;
			
		}
		&_next{
			margin-left: 17px;
		}
		
}

}
.features{

	text-align: center;
	& img{
		
		padding-left: 120px;
		padding-right: 120px;
		padding-bottom: 19px;
		padding-top: 10px;
		

	

		
	
		
	}
	&_h{
		padding-top: 112px;
		font-size: 48px;
		line-height: 1.2;
		margin-bottom: 26px;

	}
	&_text{
		width: 570px;
		margin: 0 auto;
		color: @colorTGreySections;
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 92px;
	}
	&_menu{
		
		background-color: #ddd;

	
	}
}
.feature{
	
	background-color: #fff;
}
