@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import '_header.less';
@import '_foot.less';
@import '_blog.less';
@import '_new.less';
/* Set defaults */
.reset();

html,
body{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	max-width: 1920px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.5;
}



::-webkit-scrollbar{
	width: 10px;
	height: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @colorMain;
}

.ul-reset{
	list-style: none;
}

.input{
	font: inherit;
	appearance: none;
	opacity: 1;
	transition: @transT;
	&:focus{
		outline: none;
		box-shadow: 1px 1px 30px 1px rgba(60,86,166, 0.3);
	}
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

/* Atomic */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

.d-f{
	display: flex;
}

.ttu{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

.ov-h{
	overflow: hidden;
}

.ov-s{
	overflow: scroll;
}

.black{
	color: #000;
}

/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0  0);
	overflow: hidden;
}
.main-heading{
		font-size: 48px;
		line-height: 59px;
		margin: 0;
		text-align: center;
		line-height: 1.1;
}


/* General */

.banner{
	padding-top: 167px;
	padding-bottom: 269px;
	background-image: url(../img/First\ screen.jpg);
	background-size: cover;
	background-position: center;
	&__text{
		
		font-size: 7vw;
		line-height: 9vw;
		margin: 0;
		margin-bottom: 56px;
		.size(7);
		.media-max(490px, {
			font-size: 26px;
			line-height: 1.2;

			
		
		});
		
		

	}

	&__btn{
		

		&_colored{
			border: 2px solid transparent;
			color: #fff;
			padding-left: 55px;
			padding-right: 55px;
			height: 56px;
			vertical-align: bottom;
			background: @colorMain;
			border-radius: 50px;
			font-weight: @fontSBold;
			font-size: 16px;
			line-height: 20px;
			transition: @transT;
			width: 214px;
			&:hover{
			background-color: @colorGreenHover;
			}
			.media-max(500px, {
				margin: auto;
				position: absolute;
				top: 0%; left: 0; bottom: 15%; right: 0;
			
				
			
			});
			.media-max(380px, {
				margin: auto;
				  position: absolute;
				  top: 30%; left: 0; bottom: 20%; right: 0;
			
			});

		}
		&_trans{
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;			
			padding-left: 55px;
			padding-right: 55px;
			height: 56px;
			margin-left: 18px;
			vertical-align: bottom;
			border: 2px solid @colorGreenHover;
			border-radius: 50px;
			transition: @transT;
			width: 214px;
			&:hover{
				background-color: @colorGreenHover;
				color: #fff;
				}
				.media-max(500px, {
					margin: auto;
  					position: absolute;
  					top: 0%; left: 0; bottom: 0; right: 0;
				
				});
				.media-max(380px, {
					margin: auto;
  					position: absolute;
  					top: 30%; left: 0; bottom: 0; right: 0;
				
				});

		}
	}
}

.menu{	
	padding: 70px;
	padding-bottom: 84px;
	
	
	
	&:focus{
		outline: none;
		box-shadow: 0px 7px 21px rgba(55, 125, 60, 0.3);
		border-radius: 50%;
	}
	&__h{
		padding-bottom: 44px;
		.media-max(550px, {
			font-size: 30px;
			line-height: 1.2;
			
		});
		.media-max(380px, {
			font-size: 25px;
			line-height: 1.2
		
		});
	}
	&__text{
		padding-bottom: 52px;
		width: 50%;
		text-align: center;
		margin: 0 auto;
		font-weight: @fontNormal;
		font-size: 14px;
		line-height: 1.5;
		color: @colorTGreySections;
		.media-max(630px, {
			width: 100%;
			line-height: 1.2;
		});
		.media-max(380px, {
			width: 100%;
			line-height: 1.2
		
		});
	}
	&__tabs{
		margin-bottom: 40px;
		}
	}

.tabs{
	display: flex;
	justify-content: center;
	padding: 0;
	
	&__item{
		padding-left: @offset / 2;
		padding-right: @offset / 2;
		& + &{
		margin-left: 70px;
		}
		&.active,
		&:hover{
			border-bottom: 2px solid @colorGreenHover;
			transition: 0.3s;
			a{
				color: @colorMain;
			}
		}
		}

	&__link{
		font-weight: @fontSBold;
		line-height: 1.5;
		color: #000;
	}
		
	
}
.tabs-content{
	&__section{
		display: none;
		&.active{
			display: block;
		}
	}
	&__wrap{
		.row-flex();
		.xs-block({
			justify-content: center;
		})
	}
}
.product{
	.col();
	.size(3);
	.size-md(4);
	.size-sm(6);
	.size-xs(10);
	margin-bottom: 20px;
	text-align: center;
	
		&__pic{
			margin-bottom: 24px;
			width: 100%;
		}

		&__name{
			margin: 0;
			margin-bottom: 8px;
		}

		&__price{
			color: @colorMain;
			font-weight: @fontSBold ;
		}
}
.about{
	padding-top: 85px;
	padding-bottom: 112px;
	&__btn{
		.btn-reset();
		border-bottom: 2px solid @colorMain;
		color: @colorMain;
		margin: 0;
		padding: 0;
		
		&:focus{
			outline-offset: solid 1px @colorGreenHover;
			box-shadow: 2px 2px 5px @colorGreenHover;
			border-radius: 1rem;
			transition: 0.3s;
			color: @colorGreenHover;
		}
		&:hover{
			color: @colorGreenHover;
			border-bottom: 2px solid @colorGreenHover;
			transition: 0.3s;
		}

	}

	&__slider{
		width: 50%;
		padding-right: @offset;
		float: left;
		.media-max(960px, {
			width: 100%;
			padding: 0;
			display:block;
			justify-content: center;
			font-size: 30px;

		});
		
	}
	&__figure{
		margin: 0;
		padding: 0;
		margin-bottom: 16px;
	}
	&__h{
		text-align: left;
		margin-bottom: 34px;
		
		.media-max(960px, {
			text-align: center;
		});
		.media-max(550px, {
			text-align: center;
			font-size: 30px;
			
		});
		
	}
	&__text{
		margin-bottom: 24px;
		font-size: 14px;
		font-weight: @fontNormal;
		line-height: 1.5;
	}
	&__text_two{
		margin-bottom: 90px;
	}
	&__text-three{
	
		margin-bottom: 20px;
	}
}
.article-slider{
// временно //
	&__slide{
		display: none;
		&:first-child{
			display: block;
			text-align: center;
		}
		

	}
	&__img{
		width: 570px;
		vertical-align: bottom;
		.media-max(490px, {
		
			padding-left: 40px;
			
		});
		.media-max(380px, {
			
		});


	}
	&__btns{
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
	
		margin-bottom: 8px;
	}
	&__btn{
		.btn-reset();
		padding: 0;
		width: 30px;
		height: 30px;
		line-height: 0px;
		
		
		
		
		
	
	
		
		&:focus{
			
		transform:scale(1.2);
		transition: 0.5s;
		}
		&:hover{
			border-radius: 50%;
			background-color: @colorMain;
			background: hsl(99 50% 95%);	
		}
		
		path{
			fill: @colorMain;
			
		}
		&_next{
			margin-left: 17px;
		}
		
}

}
.features{

	text-align: center;
	margin: 0;
	padding: 0 @omlet / 2;

	
	& img{
		margin: 0;
		padding: 0;
		padding-bottom: 19px;
		padding-top: 10px;
		
		
	}
	& h3{
		font-size: 18px;
		line-height: 1.2;
		font-weight: @fontSBold;
		
	}
	&_h{
		padding-top: 112px;
		font-size: 48px;
		line-height: 1.2;
		margin-bottom: 26px;

	}
	&_text{
		width: 570px;
		margin: 0 auto;
		color: @colorTGreySections;
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 92px;
	}
	
		&__wrap{
			.row-flex();
		}

	

	 & .feature{
		.col();
		.size(2.9);
		height: 138px;
		background-color: #fff;
		
 }
 		& .polosa{
			margin: 0;
			padding: 0;
			height: 138px;
			width: 0.5px;
			background-color:#ddd;	
		}
	}

.visitors{
	
	&_head{
		margin-top: 234px;
		padding-bottom: 60px;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
	}
	& .visitor__lists{
		&__wrap{
			.row-flex();
			
		}

	
	&__list{
		.col();
		.size(4);
		padding-top: 70px;
		padding-bottom: 70px;
		padding-left: 32px;
		padding-right: 32px;
		height: 512px;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	
		&__photo{
			padding-bottom: 38px;
			
			
		}
		&__he{
			padding-bottom: 21px;
			font-weight: @fontSBold;
			font-size: 18px;
			line-height: 1.2px;
			color: @colorTGreyContent;

		}
		&__text{
			padding-bottom: 32px;
			font-size: 16px;
			line-height: 147.1%;
			color: @colorTGreyContent;
		}
		&__date{
			font-style: italic;
			font-weight: 400;
			font-size: 16px;
			line-height: 147.1%;
			color: #777;
		}
	}
	}

}
