@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import '_header.less';

/* Set defaults */
.reset();

html,
body{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	max-width: 1920px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.5;
}



::-webkit-scrollbar{
	width: 10px;
	height: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @colorMain;
}

.ul-reset{
	list-style: none;
}

.input{
	font: inherit;
	appearance: none;
	opacity: 1;
	transition: @transT;
	&:focus{
		outline: none;
		box-shadow: 1px 1px 30px 1px rgba(60,86,166, 0.3);
	}
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

/* Atomic */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

.d-f{
	display: flex;
}

.ttu{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

.ov-h{
	overflow: hidden;
}

.ov-s{
	overflow: scroll;
}

.black{
	color: #000;
}

/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* General */

.banner{
	padding-top: 167px;
	padding-bottom: 269px;
	background-image: url(../img/First\ screen.jpg);
	background-size: cover;
	background-position: center;
	&__text{
		font-size: 90px;
		line-height: 110px;
		margin: 0;
		margin-bottom: 56px;
		.size(7);

	}

	&__btn{

		&_colored{
			border: 2px solid transparent;
			color: #fff;
			padding-left: 55px;
			padding-right: 55px;
			height: 56px;
			vertical-align: bottom;
			background: @colorMain;
			border-radius: 50px;
			font-weight: @fontSBold;
			font-size: 16px;
			line-height: 20px;
			transition: @transT;
			&:hover{
			background-color: @colorGreenHover;
			}

		}
		&_trans{
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;			
			padding-left: 55px;
			padding-right: 55px;
			height: 56px;
			margin-left: 18px;
			vertical-align: bottom;
			border: 2px solid @colorGreenHover;
			border-radius: 50px;
			transition: @transT;
			&:hover{
				background-color: @colorGreenHover;
				color: #fff;
				}
			

		}
	}
}
