<section class="form wrapper">
    
    <div class="form-block">
<ul class="form-block-lists">
    <h2 class="form-block-lists-head">
        Come to us!
    </h2>
        <li class="form-block-lists-list">
            
            <img src="img/icons/ico-time.svg" alt="8:00-23:00">
            <p>8:00-23:00</p>
        </li>
        <li class="form-block-lists-list">
            <img src="img/icons/ico-adress.svg" alt="9532 W Linebaugh Ave, Tampa">
            <p>9532 W Linebaugh Ave, Tampa</p>
        </li>
        <li class="form-block-lists-list">
            <img src="img/icons/ico-phone.svg" alt="+1 253 867-54-13">
            <p>+1 253 867-54-13</p>
        </li>
        <li class="form-block-lists-list">
            <img src="img/icons/ico-email.svg" alt="coffeeplanet@mail.com">
            <p>coffeeplanet@mail.com</p>
        </li>
        <a href="#">
                <img class="form-block-lists-link" src="../img/icons/ico-facebook.svg" alt="">
        </a>
        <a href="#">
            <img class="form-block-lists-link"src="../img/icons/ico-instagram.svg" alt="">
        </a>
    </ul>

    <iframe class="form-block-map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3521.47525648957!2d-82.55522998466954!3d28.04050991737796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2ea54980fd727%3A0x23fe3fc91a54ef3a!2zVyBMaW5lYmF1Z2ggQXZlLCBUYW1wYSwgRkwsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1660976838644!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

     </div>
     <p class="form-copiright">
        Copyright 2019 CoffeePlanet
     </p>
    
    
    

</section>


<div class="modal-overlay">
<div class="modal modal-form ">
    <h2 class="modal-form__h">
        Book a table
    </h2>
    <p class="modal-form__t">
        Leave your phone number and we will contact you
    </p>
    <form action="#" class="modal-form__f">
        <ul class="form-menu">
            <li>
                <label for="form-name">Name</label>
            </li>
            <li>
                <input class="name" id="form-name" type="Name">
            </li>
            <li>
                <label for="form-phone">Phone</label>
            </li>
            <li>
                <input class="phone" id="form-phone" type="tel">
            </li>
        </ul>
        <button class="form-button" type ="submit">
            Send
        </button>
    </form>
</div>
<div class="modal modal-video">
    <iframe class="modal-video vid" width="760" height="427" src="https://www.youtube.com/embed/An6LvWQuj_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</iframe>
</div>
<div class="modal modal-alert">
    <img class="modal-alert__ok"src="../img/icons/ico-ok.svg" alt="">
    <h2>Thank you!</h2>
    <p>We will contact you as soon as possible</p>
</div>
<button aria-label="Close a modal window" class="modal-overlay__close">
</button>
</div>


<script src="./js/js.js"></script>
</body>
</html>