

<section class="form wrapper">
    
    <div id="contacts" class="form-block">
<ul class="animate animate__fadeInUp form-block-lists">
    <h2 class="animate animate__fadeInUp form-block-lists-head">
        Come to us!
    </h2>
        <li class="form-block-lists-listt animate animate__fadeInUp">
                <img class="oclock"src="img/icons/ico-time.svg" alt="8:00-23:00">
                <p class="form-block-lists-listt" aria-label="Working time: 8 to 23">8:00-23:00</p>
        </li>

        <li class="form-block-lists-list animate animate__fadeInUp">
            <a class="form-block-lists-list"
               target="_blank"
               rel="noopener noreferref" 
               href="https://www.google.com/maps/place/W+Linebaugh+Ave,+Tampa,+FL,+%D0%A1%D0%A8%D0%90/@28.0405578,-82.5687855,14z/data=!4m6!3m5!1s0x88c2ea54980fd727:0x23fe3fc91a54ef3a!8m2!3d28.0405052!4d-82.5530413!16s%2Fg%2F1tr7k57d?hl=ru">
               <img src="img/icons/ico-adress.svg" alt="9532 W Linebaugh Ave, Tampa">
               <p>9532 W Linebaugh Ave, Tampa</p>
            </a>
        </li>

        <li class="form-block-lists-list animate animate__fadeInUp">
            <a class="form-block-lists-list" href="tel:+12538675413">
                <img src="img/icons/ico-phone.svg" alt="+1 253 867-54-13">
                <p>+1 253 867-54-13</p>
            </a>
        </li>

        <li class="form-block-lists-list animate animate__fadeInUp">
            <a class="form-block-lists-list" href="mailto:coffeeplanet@mail.com">
                <img src="img/icons/ico-email.svg" alt="coffeeplanet@mail.com">
                <p>coffeeplanet@mail.com</p>
            </a>
        </li>

        <ul class="animate animate__fadeInUp contacts__socials">
            <li class="form-block-lists-link">
                <a 
                    target="_blank"
                    rel="noopener noreferref"
                    aria-label="Our page at facebook"
                    href="https://facebook.com/">
                    {% include './svgo/ico-facebook.svg'%}

                </a>
            </li>

            <li class="form-block-lists-link">
                <a 
                    target="_blank"
                    rel="noopener noreferref"
                    aria-label="Our page at instagram"
                    href="https://instagram.com/">
                    {% include './svgo/ico-instagram.svg'%}
                   
                        

            </a>
            </li>
        </ul>

    </ul>
    <noscript class="loading-lazy">
        <iframe class="form-block-map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3521.47525648957!2d-82.55522998466954!3d28.04050991737796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2ea54980fd727%3A0x23fe3fc91a54ef3a!2zVyBMaW5lYmF1Z2ggQXZlLCBUYW1wYSwgRkwsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1660976838644!5m2!1sru!2sua" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                tabindex='0'
                rel="noopener noreferref"
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </noscript>

     </div>
     <p class="form-copiright">
        Copyright 2019 CoffeePlanet
     </p>
    
    
    

</section>


<div class="modal-overlay" >
<div class="modal modal-form" >
    <h2 class="modal-form__h">
        Book a table
    </h2>
    <p class="modal-form__t">
        Leave your phone number and we will contact you
    </p>
    <form action="#" class="modal-form__f">
        <ul class="form-menu">
            <li>
                <label for="form-name">Name</label>
            </li>
            <li>
                <input name="name" class="name" id="form-name" type="Name">
            </li>
            <li>
                <label for="form-phone">Phone</label>
            </li>
            <li>
                <input name="phone" class="phone" id="form-phone" type="tel">
            </li>
        </ul>
        <button class="form-button" type ="submit">
            Send
        </button>
    </form>
</div>

<div data-video ="videoForm" class="modal modal-video">
    <noscript class="loading-lazy">
        
    </noscript>

</div>
<div class="modal modal-alert">
    <img  class="modal-alert__ok"src="img/icons/sad.svg" alt="">
    <h2 class="modal-alert__h2">Thank you!</h2>
    <p class="modal-alert__p">We will contact you as soon as possible</p>
</div>
<button data-close aria-label="Close a modal window" class="modal-overlay__close">
</button>
</div>

<!-- preloader -->

<div class="preloader">
    {% include './svgo/coffee-cup.svg' %}
    <img class ="preloader__logo"src="img/logo.png" alt="Logotype of CoffeePlanet">
</div>

<script src="./js/js.js"></script>
</body>
</html>