<div class="wrapper main-header__wrap">
    <header class="header">

        <div class="container">

            <div class="header__body">

                
                
            <a tabindex="0" href="index.html" class="header__logo active">
                <img src="img/logo.png" alt="logotype of Coffe Planet">
            </a>


    <div class="header__burger">
        <span></span>
    </div>
    
    <nav class="header__menu">
        
        <ul class="header__list">
                <li>
                    <a data-goto=".gotoMenu" href="index.html#menu" class="header__link">
                        Menu
                    </a>
                </li>
                <li>
                    <a data-goto=".gotoAbout"href="index.html#about" class="header__link">
                        About
                    </a>
                </li>
                <li>
                    <a data-goto=".gotoFeatures" href="index.html#features" class="header__link">
                        Features
                    </a>
                </li>
                <li>
                    <a data-goto=".gotoContacts"href="#contacts" class="header__link">
                        Contacts
                    </a>
                </li>
                <li>
                    <a data-goto=".gotoBlog" href="blog.html" class="header__link">
                        Blog
                    </a>
                </li>
                <li>
                    <a data-goto=".gotoTel" href="tel:+12538675413" class="header__link">
                        +1 253 867-54-13
                    </a>
                </li>
                
            </ul>
            <!-- <ul class="main-navigation__links main-navigation__links_tels">
                <li class="main-navigation__links__item">
                </li>
            </ul> -->
            
        </nav>
        <!-- <button aria-lable="Open mobile menu"class="btn-mobile main-header__btn">
        </button> -->
    
</div>
    
    
    
</div>
</div>
</header> 