<header class="main-header">
    <div class="wrapper main-header__wrap">
        <a href="index.html" class="main-header__link">
            <img class="main-header__logo" src="img/logo.png" alt="logotype of Coffe Planet">
        </a>
        <nav class="main-header__nav main-navigation">
            <ul class="main-navigation__links">
                <li class="main-navigation__item">
                    <a href="#menu" class="main-navigation__link">
                        Menu
                    </a>
                </li>
                <li class="main-navigation__item">
                    <a href="#about" class="main-navigation__link">
                        About
                    </a>
                </li>
                <li class="main-navigation__item">
                    <a href="#features" class="main-navigation__link">
                        Features
                    </a>
                </li>
                <li class="main-navigation__item">
                    <a href="#contacts" class="main-navigation__link">
                        Contacts
                    </a>
                </li>
                <li class="main-navigation__item">
                    <a href="blog.html" class="main-navigation__link">
                        Blog
                    </a>
                </li>
            </ul>
            <ul class="main-navigation__links main-navigation__links_tels">
                <li class="main-navigation__links__item">
                    <a href="tel:+12538675413" class="main-navigation__link">
                        +1 253 867-54-13
                    </a>
                </li>
            </ul>
        
        </nav>
        <button aria-lable="Open mobile menu"class="btn-mobile main-header__btn is_open">
        </button>
    </div>
    

     
</header> 